main {
  align-items: center;
  display: flex;
  flex-direction:row;
  margin: 5% 10% 10% 10%;
}

form {
  padding: 40px;
  height: 30em;
  width: 40em;
}

.nav-bar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
